# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Variable files
*.tfvars


# Sensitive files
*.pem
*.key
*.crt

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor directories
.vscode/
.idea/
